<h1>focus-blur-event works!</h1>

<input [formControl]="countryName" 
	   (focus)="onFocusCountry()" 
	   [ngStyle]="myStyle1"> 

	   <h3>User Form</h3>
	   <form [formGroup]="userFrom" (ngSubmit)="onFromSubmit()">
		<table>
			<tr>
				<td>Name:</td>
				<td>
					<input formControlName="name" (focus)="onFocusName()" (blur)="onBlurName()" [ngStyle]="myStyle2">

				</td>
			</tr>
			<tr>
				<td>Age:</td>
				<!--<td>
					<input formControlName="age" (focus)="onFocusAge()" (blur)="onBlurAge()" [ngStyle]="myStyle3">
				</td>-->
			</tr>
			<tr>
				<td colspan="2">
					<button>Submit</button>

				</td>
			</tr>
		</table>

	   </form>
