<h1>form-builder works!</h1>
<button type="button" (click)="loadTeam('javaTeam')"> Load Default Team</button>
<button type="button" (click)="resetTeamForm()"> Reset</button>
<div *ngIf="formSumitted && teamForm.pristine" class="submitted">
    Form submitted successfully. 
</div>
<div class="team">
    <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
        <p>TeamName:<input formControlName="teamName">
        <br>
        <label *ngIf="teamForm.get('teamName')?.invalid && teamForm.get('teamName')?.dirty" class="error"></label>
  
         </p>
         <p>Team Manager : <input formControlName="teamManager"></p>

        
         <b>Department</b>
         <p [textContent]="website.name"> </p>
         <div formGroupNames="teamDept" class="department">
            <p>Department Head : <input formControlName="deptHead"></p>
            <p>Department Name : <input formControlName="deptName"></p>
         </div>
         <div class="all-emp">
            <b>Employee In team</b><br><br><br>
            <div formArrayName="employees">
                <div *ngFor="let emp of empFormArray.controls; let idx=index"[formGroupName]="idx" class="employee">
                    <p> <b>Employee : {{idx + 1}}</b> </p>
                    <p>Emp Id : <input formControlName="empId"></p>
                    <p>Emp Name : <input formControlName="empName"></p>
                    <p>Skill :
                        <select formControlName="skill">
                          <option *ngFor="let skill of allSkills | async" [ngValue]="skill.name">
                            {{ skill.displayName }}
                          </option>
                        </select>
                      </p>
                      <p><button type="button" (click)="deleteEmployee(idx)">Delete</button></p>
                </div>

            </div>
            <button type="button" (click)="addEmployee()">Add More Employee</button>


         </div>
         <button [disabled]="teamForm.invalid">SUBMIT</button>


        </form>
 
     

</div>
<div  [class.required]="isReq">hello ketan</div>

<p [style.color]="result > 30 ? 'blue' : 'green'">Hello color world</p>

